{% extends "main/base_template.html" %}

{% block title %}iWear - Home{% endblock title %}

{% block content %}
<section>
    <div>
        <img src="../../static/img/iWear_logo.png" alt="iWear logo" width="600" height="175">
        <h2>Hey {{request.user.first_name}}!</h2>
        <h5>Information and data</h5>
        <a href="/closet" class="btn align-middle btn-primary ml-auto mr-3 order-lg-last" type="button">My Closet</a>
        <a href="/profile" class="btn align-middle btn-primary ml-auto mr-3 order-lg-last" type="button">My Profile</a>

        <h5>Operations</h5>
        <a href="/add_item" class="btn align-middle btn-primary ml-auto mr-3 order-lg-last" type="button">Add New item</a>  
        <a href="/add_worn_event" class="btn align-middle btn-primary ml-auto mr-3 order-lg-last" type="button">Add Worn Event</a>
        <a href="/update_profile" class="btn align-middle btn-primary ml-auto mr-3 order-lg-last" type="button">Update profile</a>
        <br>
        <h5>Recommandations</h5>
        <a href="/recommendations/category" class="btn align-middle btn-primary ml-auto mr-3 order-lg-last" type="button">Category</a>
        <a href="/recommendations/weather" class="btn align-middle btn-primary ml-auto mr-3 order-lg-last" type="button">Weather</a>
        <a href="/recommendations/randomly" class="btn align-middle btn-primary ml-auto mr-3 order-lg-last" type="button">Randomly</a>

    </div>
</section>
{% endblock content %} 